name: build

on: [push, pull_request]

env:
  VIMREPO: https://github.com/vim/vim

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Vim
      shell: bash
      run: |
        if ! git clone ${VIMREPO}.git; then
          if [ "${{ github.event_name }}" = 'pull_request' ]; then
            git clone ${VIMREPO}.git --depth=1
          else
            exit 0
          fi
        fi
        cd vim

    - name: Build
      shell: bash
      run: |
        cd vim/src
        ./configure --with-features=huge --enable-fail-if-missing --enable-pythoninterp --prefix=$HOME/bin/vim
        make && make install
        export VIM_EXE=$HOME/bin/vim/bin/vim

    - name: Test
      shell: bash
      run: |
        echo 'HOME'
        ls $HOME
        echo 'HOME/work'
        ls $HOME/work
        echo 'HOME/vim-gql'
        ls $HOME/work/vim-gql/vim-gql/tests

        git clone https://github.com/junegunn/vader.vim.git $HOME/work/vim-gql/tests
        cd $HOME/work/vim-gql/tests
        VIM_EXE=$HOME/bin/vim/bin/vim ./run.sh > /dev/null && echo Success || echo Fail
